{% extends "layout.html" %}
{% block content %}



<div class="row">
    <div class="columns large-12">
        <h2>
            Welcome to  FAIRship!
        </h2>
        <p>
            The idea is FAIR sharing of algorithm.
            Suppose a researcher wants to test their hypothesis
            on among patients who diagnosed with Cardiovascular
            disease (CVD) young women has lower blood glucose levels than young men.
        </p>
    </div>
</div>
<div class="row">
    <div class="columns large-12">
        An algorithm designed and implemented to test this hypothesis and shipped to Data Integration Centers (DICs) to train
        <ul>
            <li>Data is searched in centralized schema repository</li>
            <li>Consumer describes algorithm (metadata, data requirements, other requirements like minimum data or reputation threshold)</li>
            <li>Algorithm placed onto train and intermediary results are sent along an optimal path</li>
            <li>Result is sent back to Consumer</li>
        </ul>
    </div>
</div>


<!--
<div class="container wrap wrap-notice my-3">
    <p class="my-0">
        An algorithm designed and implemented to test this hypothesis and shipped to Data Integration Centers (DICs) to train.


    </p>
</div>

-->

{% endblock %}
