{% extends "layout.html" %}
{% block content %}


<label for="trainselect">Plan Route for: </label>
<select id="trainselect">
    {% for train in trains %}
    <option value="{{ train }}">{{ train }}</option>
    {% endfor %}}
</select>

<div class="row expanded">
    <div class="columns large-12">
        <table id="station-table" class="display" style="width:100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>URI</th>
                <th>ID</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<div class="row expanded">
    <div class="columns large-2">
            <button id="submitRoute" class="button">Submit Route</button>
    </div>
    <div class="columns large-10">
        <div id="cy"></div>
    </div>
</div>

<script>
function isInt(value) {
  return !isNaN(value) &&
         parseInt(Number(value)) == value &&
         !isNaN(parseInt(value, 10));
}

let nodeID = 1;
    function getRouteJSON() {

        // TODO Nodes and edges might be undefined
        // TODO Only multiplicity 1 currently supported
        const route = cy.json()['elements'];
        return {
            // Filter for only those nodes where the id is an integer
            nodes: route['nodes'].filter(function (node) {
                return isInt(node['data']['id']);
            }).map(function(node) {

                const data = node['data'];
                return {
                    id: data['id'],
                    stationID: data['stationID'],
                    multiplicity: 1

            }}),
            edges: route['edges'].map(function(edge) {
                const data = edge['data'];
                return {
                    source: data['source'],
                    target: data['target'],
                };
            })
        };
    }
    const stationTable = $("#station-table").DataTable({
        "bPaginate": false,
        "bLengthChange": false,
        "bFilter": false,
        "bInfo": false,
        "bAutoWidth": false,
        "ajax": {
            "url": "{{  URI_STATION_OFFICE }}",
            "dataSrc": ""
        },
        "columns": [
            { "data": "stationName" },
            { "data": "stationURI" },
            { "data": "stationID" }
        ]
    });
    $('#station-table tbody').on('click', 'tr', function () {

        const data = stationTable.row( this ).data();

        // TODO only multiplicity one currently supported
        cy.add([
            { group: "nodes",
              data: { id: nodeID++, stationID: data['stationID'], label: data['stationName'] },
              position: { x: 100, y: 100 }}
        ]);
        cy.layout({name: 'dagre'}).run();
    });

    document.getElementById("submitRoute").addEventListener("click", function(event) {

        const route = getRouteJSON();
        const trainID = $("#trainselect").val();
        alert(JSON.stringify(route));
        $.ajax({
            url: "{{ URI_TRAIN_ROUTER }}/train/" + trainID,
            type: 'post',
            async: false,
            dataType: 'json',
            data: JSON.stringify(route),
            contentType: "application/json; charset=utf-8",
        });
        cy.elements().remove();
    });

</script>
<script src="{{ url_for('static',filename='js/routeplan.js') }}"></script>
{% endblock %}
