{% extends "layout.html" %}
{% block content %}


<div class="row expanded">
    <div class="columns large-12">
        <label for="routeview_routeselect">Select Route to View: </label>
        <select id="routeview_routeselect">
            {% for route in routes %}
            <option value="{{ route }}">{{ route }}</option>
            {% endfor %}}
        </select>
        <button id="loadroute" class="button">Load Route</button>
        <button id="deleteroute" class="button">Delete Route</button>
    </div>
</div>
<div class="row expanded">
    <div class="columns large-12">
        <div id="cy"></div>
    </div>
</div>

<script>


function recolor() {

    const nodes = cy.collection("node");
    nodes.forEach(function(ele, i, eles){

        if (ele.data("hasBeenVisited")) {

            // Color node green

        } else if (ele.data("canBeVisited")) {

           // Color node yellow
            ele.style('background-color', '#aaaa00');
        }
    });
}

document.getElementById("loadroute").addEventListener("click", function(evt) {


    const routeID = $("#routeview_routeselect").val();

    $.get("{{ URI_TRAIN_ROUTER  }}/" + routeID, function( data ) {

        // First clear the graph of all previous nodes
        cy.elements().remove();

        // Map the retrieved data to node information
        cy.add(data['nodes'].map(function(node) { return {

            "group": "nodes", data: node
        }}));
        cy.add(data['edges'].map(function(edge) { return {

            "group": "edges", data: edge
        }}));

        cy.layout({name: 'dagre'}).run();

    // Then try to retrieve more information on the nodes for graph labeling
    }).then(function(data) {

        const params = data['nodes'].map(function(node) {return "id=" + node['id'];}).join("&");
        return $.get("{{ URI_TRAIN_ROUTER }}/node?" + params);

    }).then(function (data) {

        // Update all the nodes with the retrieved information
        for (let i = 0; i < data.length; ++i) {

            const node = data[i];
            const ele = cy.getElementById(node['id']);
            // Update the node with the retrieved node info
            ele.data(node);
        }
        recolor();
    });
});
</script>

<script src="{{ url_for('static',filename='js/train.js') }}">
</script>
{% endblock %}

