{% extends "layout.html" %}
{% block content %}


<div class="row expanded">
    <div class="columns large-12">
        <label for="routeview_routeselect">Select Route to View: </label>
        <select id="routeview_routeselect">
            {% for route in routes %}
            <option value="{{ route }}">{{ route }}</option>
            {% endfor %}}
        </select>
        <button id="loadroute" class="button">Load Route</button>
        <button id="deleteroute" class="button">Delete Route</button>
        <button id="deletetrain" class="button">Delete Train</button>
    </div>
</div>
<div class="row expanded">
    <div class="columns large-12">
        <div id="cy"></div>
    </div>
</div>

<script>

    function update_route() {

        // Fetch the ids of the nodes that are currently part of the route
        const params = cy.collection("node").map(function(node) {return "id=" + node.id();}).join("&");

        $.get("{{ URI_TRAIN_ROUTER_NODE }}?" + params, function(data) {

            // Update the node with the obtained data
            Object.keys(data).forEach(function(key) {

                // key of the returned data is the node id
                const ele = cy.getElementById(key);

                // Update data
                ele.data(data[key]);


                // Color coding
                if (ele.data("hasBeenVisited")) {

                    // Color node green
                    ele.style('background-color', '#007700');

                } else if (ele.data("canBeVisited")) {

                    // Color node yellow
                    ele.style('background-color', '#aaaa00');
                }
                const model_route = "{{ url_for('download_model', node_id='NODE_ID') }}";
                ele.data( 'model_route',  model_route.replace("NODE_ID", ele.id()));
            });
        });
    }

    // Load the selected route into the Cytoscape view
    document.getElementById("loadroute").addEventListener("click", function(evt) {


        const routeID = $("#routeview_routeselect").val();

        $.get("{{ URI_TRAIN_ROUTER_ROUTE  }}/" + routeID, function( data ) {

            // First clear the graph of all previous nodes
            cy.elements().remove();

            // Add nodes and edges in turn
            cy.add(data['nodes'].map(function(node) { return {

                "group": "nodes", data: node
            }}));
            cy.add(data['edges'].map(function(edge) { return {

                "group": "edges", data: edge
            }}));

            cy.layout({name: 'dagre'}).run();

        }).then(update_route);
    });


    // Delete the selected train and redirect
    document.getElementById("deletetrain").addEventListener("click", function(evt) {

        const train_id = window.location.pathname.split('/').pop();

        $.ajax({
            url: '{{ URI_TRAIN_OFFICE }}' + "/" + train_id,
            type: 'DELETE',
            success: function() {

                window.location.href = '/train';
            }});
    });


     // Delete the selected train and redirect
    document.getElementById("deleteroute").addEventListener("click", function(evt) {

        const route_id = $("#routeview_routeselect").val();

        $.ajax({
            url: '{{ URI_TRAIN_ROUTER_ROUTE }}' + "/" + route_id,
            type: 'DELETE',
            success: function() {

                window.location.href = '/train';
            }});
    });

    // Update route peridically
    setInterval(update_route, 1000);
</script>

<script src="{{ url_for('static',filename='js/train.js') }}">
</script>
{% endblock %}

